<div class="body container-fluid">
</br>
</br>
</br>

 <h4>&nbsp;<b><%="Games, Movies & Entertainment group"%></b></h4>
 </br>


 <div class="row">
 <div class="col-md-7">
 <div class="panel panel-default">
 <h4 class="text-center text-info"><b>Share product or business information.</b></h4>
 
 <%= render 'form' %>
 
 </div>
 </div>
 <div class="col-md-4 visible-md visible-lg visible-xl">
 </br>
 </br>
<ol><h4 class="text-info text-center">A place Shares and gather, Products or business information in Games, Movies & Entertainment group.</h4></ol>
  </br>
 </br>
 </br>
  </br>
 </br>
 </div>
<div class="col-md-3 col-md-offset-2">
<div class="panel panel-default">
<h5 class="text-center"><%="Games, Movies & Entertainment group"%></h5>
<h4 class="text-center">users</h4>
<h5 class="text-center"><%=link_to "view all user",new_ya_path%></h5>
</div>
</div>
</div>




<div class="col-md-9">	


<%@yas.each do |ya| %>

<div class="panel panel-default">
<div class="panel-heading">
<ol>
<h5><%=link_to ya.user.username.capitalize, profil_path(ya.user.id)%>  </h5>
<h5><b><%=ya.user.business_type.capitalize%></b>
<%=ya.user.contry%><b> . </b> <%=ya.user.city%></h5>
  <h6><%= time_ago_in_words(ya.created_at) %> ago</h6>

</br>
<div class="aasproductinfo ">
<p class="text-secondary"><b>Post Type -</b> <%=ya.post_type%></p>
<p class="text-secondary"><b>Market Type -</b> <%=ya.market_type%></p>
<p class="text-secondary"><b>Name - </b><%=ya.product_name.first(250)  %></p>
</div>

<div class="aasdescription">
<p class="text-muted"><%= ya.description.first(500) %> </p>
</br>
<h5 class="text-left">(<%=ya.ycms.count%>) Comment</h5>
<h4>
<%= link_to "View Post", ya,class: "my-primary btn" %>
</h4>
</div>
</div>
</div>
</ol>
<% end %>
</div>
<div class="col-md-3 visible-md visible-lg visible-xl">	
<div class="panel-group">
<%@users.each do |i|%>

<div class="panel panel-default">
<ol>
<%=link_to i.username.capitalize.first(20)  %>
<p class="text-muted"><b><%=i.business_type.capitalize%> . </b><%=i.contry.capitalize.first(15) %></p>
</ol>
</div>
<%end%>
</div>
</div>



</div>

</div>
