<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @ga.user.username.capitalize, profil_path(@ga.user.id) %></h5>
    <h6><b><%=@ga.user.business_type.capitalize%> / </b>
    <%=@ga.user.contry%> . <%=@ga.user.city%></h6>
     <h6><%= time_ago_in_words(@ga.created_at) %> ago</h6>

    
    <div class="aasproductinfo ">
    <p class="text-secondary"><b>Post Type - </b><%= @ga.post_type %></p>
   
      <p class="text-secondary"><b>Market type -</b> <%=@ga.market_type.capitalize%></p>
        <p class="text-secondary"><b>Name - </b><%= @ga.product_name %></p>
        </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @ga.description %></p>
    </div>
                 
   <div class="links btn-group">
   <%= link_to "Back", gas_path, class: "btn btn-default" %>
    <% if @ga.user_id == current_user.id %>

   <%= link_to "Delete", ga_path(@ga), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
  <h4>(<%=@ga.gcms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @ga.gcms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'gcms/form' %>
 </div>
 </div>
</div>
</div>
</div>