<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @ha.user.username.capitalize, profil_path(@ha.user.id) %></h5>
    <h6><b><%=@ha.user.business_type.capitalize%> / </b>
    <%=@ha.user.contry%> . <%@ha.user.city%> </h6>
   <h6><%= time_ago_in_words(@ha.created_at) %> ago</h6>

    
    <div class="aasproductinfo ">
    <p class="text-secondary"><b>Post Type - </b><%= @ha.post_type %></p>
   
      <p class="text-secondary"><b>Market type -</b> <%=@ha.market_type.capitalize%></p>
    <p class="text-secondary"><b>Name - </b><%= @ha.product_name %>
    </p>
    </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @ha.description %></p>
    </div>
                 
   <div class="links btn-group">
   <%= link_to "Back", has_path, class: "btn btn-default" %>
    <% if @ha.user_id == current_user.id %>

   <%= link_to "Delete", ha_path(@ha), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
  <h4>(<%=@ha.hcms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @ha.hcms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'hcms/form' %>
 </div>
 </div>
</div>
</div>
</div>