<div class="body container-fluid">
</br>
</br>
</br>
 <h4>&nbsp;<b><%="Household & Kitchen group"%></b></h4>
 </br>


 <div class ="row">
 <div class="col-md-7">
 <div class="panel panel-default">
  <h4 class="text-center text-info"><b>Share product or business information.</b></h4>

 <%= render 'form' %>
 
 </div>
 </div>
  <div class="col-md-4 visible-md visible-lg visible-xl">
 </br>
 </br>
<ol><h4 class="text-info text-center">A place Shares and gather, Products or businesss information in Household & Kitchen group.</h4></ol>
  </br>
 </br>
 </br>
  </br>
 </br>
 </div>
<div class="col-md-3 col-md-offset-2">
<div class="panel panel-default">
<h5 class="text-center"><%="Household & Kitchen group"%></h5>
<h4 class="text-center">users</h4>
<h5 class="text-center"><%=link_to "view all user",new_ma_path%></h5>
</div>
</div>

 </div>






<div class="col-md-9">	


<%@mas.each do |ma| %>
<div class="panel panel-default">
<div class="panel-heading">
<ol>
<h5><%=link_to ma.user.username.capitalize, profil_path(ma.user.id)%>  </h5>
<h6><b><%=ma.user.business_type.capitalize%> / </b>
<%=ma.user.contry%><b> . </b><%=ma.user.city%></h6>
  <h6><%= time_ago_in_words(ma.created_at) %> ago</h6>
</ol>

</br>
<div class="aasproductinfo ">
<ol>
<p class="text-secondary"><b>Post Type -</b> <%=ma.post_type%></p>
<p class="text-secondary"><b>Market Type -</b> <%=ma.market_type%></p>
<p class="text-secondary"><b>Name - </b><%=ma.product_name.first(250) %>
</p>
</ol>
</div>

<div class="aasdescription">
<ol>
<p class="text-muted"><%=ma.description.first(500) %> </p>
</br>
<h5 class="text-left">(<%=ma.mcms.count%>) Comment</h5>
<h4>
<%= link_to "View Post", ma,class: "my-primary btn" %>
</h4>
</ol>
</div>
</div>
</div>

<% end %>
</div>
<div class="col-md-3 visible-md visible-lg visible-xl">	
<div class="panel-group">
<%@users.each do |i|%>

<div class="panel panel-default">
<ol>
<%=link_to i.username.capitalize.first(20),profil_path(i.id) %>
<p class="text-muted"><b><%=i.business_type.capitalize%> . </b><%=i.contry.capitalize.first(15) %></p>
</ol>
</div>
<%end%>
</div>
</div>



</div>

</div>





