
</br>
<div class="panel panel-default">
  <ol><h5><%=link_to lcm.user.username.capitalize, profil_path(lcm.user.id) %></h5>
    <h6><b><%=lcm.user.business_type.capitalize%></b>
    <%=lcm.user.contry%></h6>
      <h6><%= time_ago_in_words(lcm.created_at) %> ago</h6>

  </br>
 <p class="text-secondary"><%= lcm.content %></p>
  </br>
  <div class="links btn-group">
   <% if lcm.user_id == current_user.id %>

<%= link_to "Edit", edit_la_lcm_path(lcm.la,lcm) %>
<%= link_to "Delete", la_lcm_path(lcm.la,lcm), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%></div>
</div></ol>