<div class="group container-fluid">
</br>
</br>
</br>
<div class= "row">
 <div class="col-md-10 col-md-offset-1">	

<p class="text-info text-center"><b><%="You are in "%> <%=current_user.industry%> <%=" group"%></b></p>
</br>
</div>

</div>


<div class="">
<div class="row">
 <div class="col-md-3">
  <div class="text-center">
<h5><%=link_to (image_tag("photos/Agriculture.png",:size => '220x150')),aas_path,:class => "newStep"%></h5>
<h5><b>Agriculture,Animal, Food & Beverayes</b></h5>
</div>
</div>

 <div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Apparel.png",:size => '220x150')),bas_path,:class => "newStep"%></h5>
<h5><b>Apparel,Textile & Leather </b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/FashionAccessories.png",:size => '220x150')),cas_path,:class => "newStep"%></h5>
<h5><b>Fashion Accessories & wear</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Cosmetic.png",:size => '220x150')),das_path,:class => "newStep"%></h5>
<h5><b>Cosmetic & Beauty</b> </h5>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Sports.png",:size => '220x150')),eas_path,:class => "newStep"%></h5>
<h5><b>Sports & Fitness</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Automobiles.png",:size => '220x150')),fas_path,:class => "newStep"%></h5>
<h5><b>Automobiles & Transportations</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Computer.png",:size => '220x150')),gas_path,:class => "newStep"%></h5>
<h5><b>Computer & Telecommunication</b> </h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Electronics.png",:size => '220x150')),has_path,:class => "newStep"%></h5>
<h5><b>Electronics </b></h5>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Electrical.png",:size => '220x150')),iis_path,:class => "newStep"%></h5>
<h5><b>Electrical </b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Buildings.png",:size => '220x150')),jas_path,:class => "newStep"%></h5>
<h5><b>Buildings & Construction </b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/College.png",:size => '220x150')),kas_path,:class => "newStep"%></h5>
<h5><b>College, School, University</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Hospital.png",:size => '220x150')),las_path,:class => "newStep"%></h5>
<h5><b>Hospital & Medical </b></h5>
</div>
</div>
</div>

<div class="row">
<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Household.png",:size => '220x150')),mas_path,:class => "newStep"%></h5>
<h5><b>Household & Kitchen </b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Machinery.png",:size => '220x150')),nas_path,:class => "newStep"%></h5>
<h5><b>Machinery & Industrial parts</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/ValuableJewelry.png",:size => '220x150')),oas_path,:class => "newStep"%></h5>
<h5><b>Valuable Jewelry, Gem, Metal</b> </h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Bags.png",:size => '220x150')),pas_path,:class => "newStep"%></h5>
<h5><b>Bags, Rubber & Plastics</b></h5>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Energy.png",:size => '220x150')),qas_path,:class => "newStep"%></h5>
<h5><b>Energy, Power & Petroleum</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Paper.png",:size => '220x150')),ras_path,:class => "newStep"%></h5>
<h5><b>Paper & Packing material</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Printing.png",:size => '220x150')),sas_path,:class => "newStep"%></h5>
<h5><b>Printing, publishing & Hardware</b></h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Security.png",:size => '220x150')),tts_path,:class => "newStep"%></h5>
<h5><b>Security, Alarm & Safety</b> </h5>
</div>
</div>
</div>

<div class="row">
<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Laboratory.png",:size => '220x150')),uas_path,:class => "newStep"%></h5>
<h5><b>Laboratory & Measuring instruments</b> </h5>
</div>
</div>

<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Pipes.png",:size => '220x150')),vas_path,:class => "newStep"%></h5>
<h5><b>Pipes, Tubes & Fitting</b> </h5>
</div>
</div>



<div class="col-md-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Toys.png",:size => '220x150')),was_path,:class => "newStep"%></h5>
<h5><b>Handicrafts, Toys, Gifts, Crafts</b> </h5>
</div>
</div>


<div class="col-md-3">
 <div class="text-center">
<h5> <%=link_to (image_tag("photos/Furniture.png",:size => '220x150')),xas_path,:class => "newStep"%></h5>
<h5><b>Furniture & Furnishings</b> </h5>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3 col-md-offset-3">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Games.png",:size => '220x150')),yas_path,:class => "newStep"%></h5>
<h5><b>Games, Movies, Entertainment </b></h5>
</div>
</div>

<div class="col-md-3 ">
 <div class="text-center">
<h5><%=link_to (image_tag("photos/Businessservices.png",:size => '220x150')),zas_path,:class => "newStep"%></h5>
<h5><b>Business services & Freelancer</b></h5>
</div>
</div>
</div>
</div>



</div

