<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @oa.user.username.capitalize, profil_path(@oa.user.id) %></h5>
    <h6><b><%=@oa.user.business_type.capitalize%> / </b>
    <%=@oa.user.contry%> . <%=@oa.user.city%></h6>
      <h6><%= time_ago_in_words(@oa.created_at) %> ago</h6>

    
    <div class="aasproductinfo ">
        <p class="text-secondary"><b>Post Type - </b><%= @oa.post_type %></p>
 
      <p class="text-secondary"><b>Market type -</b> <%=@oa.market_type.capitalize%></p>
    <p class="text-secondary"><b>Name - </b><%= @oa.product_name %></p>
    </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @oa.description %></p>
    </div>
                 
   <div class="links btn-group">
   <%= link_to "Back",oas_path, class: "btn btn-default" %>
    <% if @oa.user_id == current_user.id %>

   <%= link_to "Delete",oa_path(@oa), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
  <h4>(<%=@oa.ocms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @oa.ocms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'ocms/form' %>
 </div>
 </div>
</div>
</div>
</div>