<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @ja.user.username.capitalize, profil_path(@ja.user.id) %></h5>
    <h6><b><%=@ja.user.business_type.capitalize%> / </b>
    <%=@ja.user.contry%> . <%=@ja.user.city%></h6>
      <h6><%= time_ago_in_words(@ja.created_at) %> ago</h6>

    
    <div class="aasproductinfo ">
       <p class="text-secondary"><b>Post Type - </b><%= @ja.post_type %></p>
 
      <p class="text-secondary"><b>Market type -</b> <%=@ja.market_type.capitalize%></p>
       <p class="text-secondary"><b>Name - </b><%= @ja.product_name %></p>
    </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @ja.description %></p>
    </div>
                 
   <div class="links btn-group">
   
   <%= link_to "Back", jas_path, class: "btn btn-default" %>
    <% if @ja.user_id == current_user.id %>

   <%= link_to "Delete", ja_path(@ja), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
  <h4>(<%=@ja.jcms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @ja.jcms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'jcms/form' %>
 </div>
 </div>
</div>
</div>
</div>