
</br>
<div class="panel panel-default">
  <ol><h5><%=link_to gcm.user.username.capitalize, profil_path(gcm.user.id) %></h5>
    <h6><b><%=gcm.user.business_type.capitalize%></b>
    <%=gcm.user.contry%></h6>
      <h6><%= time_ago_in_words(gcm.created_at) %> ago</h6>

  </br>
 <p class="text-secondary"><%= gcm.content %></p>
  </br>
  <div class="links btn-group">
   <% if gcm.user_id == current_user.id %>

<%= link_to "Edit", edit_ga_gcm_path(gcm.ga, gcm) %>
<%= link_to "Delete", ga_gcm_path(gcm.ga, gcm), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%>
</div>
</div></ol>