<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @wa.user.username.capitalize, profil_path(@wa.user.id) %></h5>
    <h6><b><%=@wa.user.business_type.capitalize%> / </b>
    <%=@wa.user.contry%> . <%=@wa.user.city%></h6>
   <h6><%= time_ago_in_words(@wa.created_at) %> ago</h6>
    
    <div class="aasproductinfo ">
        <p class="text-secondary"><b>Post Type - </b><%= @wa.post_type %></p>
  
       <p class="text-secondary"><b>Market type -</b> <%=@wa.market_type.capitalize%></p>
    <p class="text-secondary"><b>Name - </b><%= @wa.product_name %></p>
    </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @wa.description %></p>
    </div>
                 
   <div class="links btn-group">
   <%= link_to "Back", was_path, class: "btn btn-default" %>
    <% if @wa.user_id == current_user.id %>

   <%= link_to "Delete", wa_path(@wa), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
 <h4>(<%=@wa.wcms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @wa.wcms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'wcms/form' %>
 </div>
 </div>
</div>
</div>
</div>