
</br>
<div class="panel panel-default">
  <ol><h5><%=link_to ocm.user.username.capitalize, profil_path(ocm.user.id) %></h5>
    <h6><b><%=ocm.user.business_type.capitalize%></b>
    <%=ocm.user.contry%></h6>
      <h6><%= time_ago_in_words(ocm.created_at) %> ago</h6>

  </br>
 <p class="text-secondary"><%= ocm.content %></p>
  </br>
  <div class="links btn-group">
   <% if ocm.user_id == current_user.id %>

<%= link_to "Edit", edit_oa_ocm_path(ocm.oa, ocm) %>
<%= link_to "Delete", oa_ocm_path(ocm.oa, ocm), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%></div>
</div></ol>