<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @ii.user.username.capitalize, profil_path(@ii.user.id) %></h5>
    <h6><b><%=@ii.user.business_type.capitalize%> / </b>
    <%=@ii.user.contry%> . <%=@ii.user.city%> </h6>
   <h6><%= time_ago_in_words(@ii.created_at) %> ago</h6>

    
    <div class="aasproductinfo ">
     <p class="text-secondary"><b>Post Type - </b><%= @ii.post_type %></p>

      <p class="text-secondary"><b>Market type -</b> <%=@ii.market_type.capitalize%></p>
       <p class="text-secondary"><b>Name - </b><%= @ii.product_name %></p>
    </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @ii.description %></p>
    </div>
                 
   <div class="links btn-group">
   <%= link_to "Back", iis_path, class: "btn btn-default" %>
    <% if @ii.user_id == current_user.id %>

   <%= link_to "Delete", ii_path(@ii), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
  <h4>(<%=@ii.icms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @ii.icms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'icms/form' %>
 </div>
 </div>
</div>
</div>
</div>