<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @qa.user.username.capitalize, profil_path(@qa.user.id) %></h5>
    <h6><b><%=@qa.user.business_type.capitalize%> / </b>
    <%=@qa.user.contry%> . <%=@qa.user.city%> </h6>
   <h6><%= time_ago_in_words(@qa.created_at) %> ago</h6>

    
    <div class="aasproductinfo ">
    <p class="text-secondary"><b>Post Type - </b><%= @qa.post_type %></p>
    
     <p class="text-secondary"><b>Market type -</b> <%=@qa.market_type.capitalize%></p>
    <p class="text-secondary"><b>Name - </b><%= @qa.product_name %>
    </p>
    </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @qa.description %></p>
    </div>
                 
   <div class="links btn-group">
   <%= link_to "Back", qas_path, class: "btn btn-default" %>
    <% if @qa.user_id == current_user.id %>

   <%= link_to "Delete", qa_path(@qa), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
  <h4>(<%=@qa.qcms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @qa.qcms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'qcms/form' %>
 </div>
 </div>
</div>
</div>
</div>