
</br>
<div class="panel panel-default">
  <ol><h5><%=link_to rcm.user.username.capitalize, profil_path(rcm.user.id) %></h5>
    <h6><b><%=rcm.user.business_type.capitalize%></b>
    <%=rcm.user.contry%></h6>
     <h6><%= time_ago_in_words(rcm.created_at) %> ago</h6>
 
  </br>
 <p class="text-secondary"><%= rcm.content %></p>
  </br>
  <div class="links btn-group">
   <% if rcm.user_id == current_user.id %>

<%= link_to "Edit", edit_ra_rcm_path(rcm.ra, rcm) %>
<%= link_to "Delete", ra_rcm_path(rcm.ra, rcm), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%></div>
</div></ol>