<div class="body container-fluid">
</br>
</br>
</br>
<div class="row">
 <div class="col-md-4">	
 <h4><%=link_to"International Products statistics websites",buyselcms_path,class: "btn btn-default btn-block text-primary"%></h4>
</div>
 <div class="col-md-4">	
 <h4><%=link_to"Top Import Export websites",acms_path,class: "btn btn-default btn-block text-primary"%></h4>
</div>
 <div class="col-md-4 ">	
 

<h4><%=link_to"GDP Growth rates",bcms_path,class: "btn btn-default btn-block text-primary"%></h4>

</div>
</div>

</br>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">

<ol><h4 class="text-primary"><%="GDP Growth rates by Country"%></h4> 
</br>
<p><%="https://en.wikipedia.org"%></p>
<p><%="http://www.imf.org"%></p>
<p><%="https://www.worldatlas.com"%></p>
<p><%="https://tradingeconomics.com"%></p>

</br>

<h4 class="text-primary"><%="Largest agricultural Producing commodities by Country"%></h4> 
</br>
<p><%="https://en.wikipedia.org"%></p>
<p><%="https://www.worldatlas.com"%></p>
<p><%="https://www.investopedia.com"%></p>
<p><%="http://www.cropsreview.com"%></p>
</br>
</ol>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</div>

</div>






</div>