<div class="body container-fluid">
</br>
</br>
</br>
</br>

    <div class="col-md-9 col-md-offset-1">
      <div class="panel-group"> 
    
    <div class="panel panel-default">
    <div class="panel-heading">
   
    <h5><%=link_to @xa.user.username.capitalize, profil_path(@xa.user.id) %></h5>
    <h6><b><%=@xa.user.business_type.capitalize%></b>
    <%=@xa.user.contry%> . <%=@xa.user.city%></h6>
   <h6><%= time_ago_in_words(@xa.created_at) %> ago</h6>
    
    <div class="aasproductinfo ">
      <p class="text-secondary"><b>Post Type - </b><%= @xa.post_type %></p>  
    <p class="text-secondary"><b>Name - </b><%= @xa.product_name %></p>
       <p class="text-secondary"><b>Market type -</b> <%=@xa.market_type.capitalize%></p>
    </div>

    <div class="aasdescription">
   <p class="text-secondary"> <%= @xa.description %></p>
    </div>
                 
   <div class="links btn-group">
   <%= link_to "Back",xas_path, class: "btn btn-default" %>
    <% if @xa.user_id == current_user.id %>

   <%= link_to "Delete",xa_path(@xa), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %><%end%>
   </div>


   </div>
   </div>

   


 <div class="panel-heading">
  <h4>(<%=@xa.xcms.count%>) Comment</h4>
  <div class="panel-body">
  <div class="replyquestion">

 <p><%= render @xa.xcms %></p>
 </div>
</div>
    <div class="panel-body">
 <%= render 'xcms/form' %>
 </div>
 </div>
</div>
</div>
</div>